<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4>
  {% if request.user.is_authenticated %}
  <h4>
  Welcome, {% if request.user.first_name %}
  {{ request.user.first_name }}
  {% else %}
  {{ request.user.username }}
  {% endif %}! <a href="{% url 'auth_logout'%}"> Log Out </a>
  </h4>
  {% else %}
  <h4> Welcome, mysterious person! Would you like to <a href="{% url 'auth_login' %}">Log In ?</a></h4>
{% endif %}
Welcome to Books Store! There are {{ count }} books available. User Location {{ request.session.location }}
</h4>
</body>
</html>